# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# .gitignore

*.iml

.idea/
vcs.xml

## File-based project format:
*.iws
*.iml
*.ipr

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

#mac
.DS_Store

#logs
logs/

### STS ###
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.iml
bin/

#python
__pycache__/
*.pyc
.flattened-pom.xml


umdComps/
static-resource/
view-json/
uploads/

